
/*---- Colores ----*/
:root{
    --first-color: #45B39D;
    --second-color:#ffffff;
    --third-color: #202020;
  }

.blog__container{
    margin-top: 5rem;
    row-gap: 2rem;
    text-align: left;
}

.blog-one__title{
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--first-color);
    border-bottom: 1px solid var(--first-color);
}